@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
button {background: none; border: none; outline: none; cursor: pointer;}
body {font: bold 16px/20px 'Mulish', Arial, sans-serif; min-width: 320px; padding: 0;}
img {max-width: 100%;}
.container {margin: 0 auto; padding: 0 20px; max-width: 1144px;}
.hide {display: none;}
a {color: #c00; text-decoration: none;
    &:hover {color: #202020;}
}

.header {height: 72px; padding: 19px 0 20px; position: relative;
    &__inner {display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; align-items: center;}
    &__search {display: none;
        &__open {display: block; position: absolute; top: 100%; left: 0;right: 0; padding: 0 20px; background: #fff;
            input {width: 100%; border: none; color: #000; font-size: 28px; outline: none;}
        }
    }
    @media screen and (min-width:768px){
        height: 80px; padding: 23px 0 25px;
    }
}
.menu-btn-mobile {
    width: 50px; height: 38px; padding: 10px 0 2px;
    span {display: block; background: #000; width: 32px; height: 1px; margin-bottom: 8px;
        &:nth-child(2) {width: 25px;}
    }
    @media screen and (min-width:768px){
        display: none;
    }
}
.site-logo {
    max-width: 170px; margin: 0 auto;
    @media screen and (min-width:768px){
        max-width: none; margin: 0;
    }
}
.site-menu {display: none;
    @media screen and (min-width:768px){
        margin-left: auto; display: block;
        &__inner {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
        &__item {padding: 0 16px; font-weight: bold; font-size: 21px; line-height: 26px;
            ul {display: none;}
        }
        &__link {color: #202020; text-decoration: none;
            &:hover {color: #c00;}
        }
        &__link__sale {color: #c00; text-transform: uppercase;}
    }
}
.search-btn {display: none;
    @media screen and (min-width:768px){
        display: block; margin-left: 20px;
    }
}
.cart-btn {margin-left: 13px;}
.mobile-menu {display: none; background: #131824; padding: 80px 20px 20px; height: 100%; position: fixed; top: 0; left: 0; right: 0; overflow: auto; z-index: 10;
    &__open {display: block;}
    &__close {width: 40px; height: 40px; display: block; position: absolute; top: 20px; left: 17px;
        &:before {content: ""; border-top: 1px solid #fff; width: 34px; display: block; transform: rotate(45deg); position: absolute; top: 20px; left: 0;}
        &:after {content: ""; border-top: 1px solid #fff; width: 34px; display: block; transform: rotate(-45deg); position: absolute; top: 20px; left: 0;}
    }
    .search-form {border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding-bottom: 15px; position: relative;
        &__input {background: none; border: none; color: #fff; font-weight: bold; font-size: 16px; line-height: 20px; width: 100%;}
        &__button {position: absolute; top: -3px; right: 5px;}
    }
}
.site-menu-mobile {
    &__item {font-weight: bold; font-size: 21px; line-height: 30px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 10px 0;}
    &__link {color: #fff;}
    &__link__sale {color: #c00; text-transform: uppercase;}
}

/*index*/
.main-product {text-align: center; background: #131824 no-repeat 50%; background-size: cover; min-height: 400px; height: calc(100vh - 72px); color: #fff; padding: 100px 0 30px; position: relative;
    &__inner {position: absolute; bottom: 55px; left: 20px; right: 20px;}
    &__title {font: 32px/44px 'Goudy Bookletter 1911', Arial, serif; margin-bottom: 32px;}
    &__prices {margin-bottom: 36px; font-weight: bold; font-size: 16px; line-height: 20px;}
    &__oldprice {opacity: 0.5; margin-left: 20px; display: inline-block;}
    @media screen and (min-width:768px){
        height: calc(100vh - 80px); background-size: auto;
        &__inner {bottom: 74px;}
        &__title {max-width: 560px; margin: 0 auto 24px;}
    }
}

/*buttons*/
.button-primary {background: #c00; color: #fff; padding: 14px 22px 13px 24px; box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33); border-radius: 4px; border: 1px solid #950000; font-weight: bold; font-size: 16px; line-height: 20px; text-shadow: 0px -1px 0px rgba(32, 32, 32, 0.33); display: inline-block;
    &:hover {background-color: #950000; color: #fff;}
}
.button-secondary {background: #fff; color: #202020; padding: 13px 16px 12px 17px; border-radius: 4px; border: 1px solid #202020; font-weight: bold; font-size: 16px; line-height: 20px; display: inline-block;
    &:hover {background-color: #202020; color: #fff;}
}